page-about1 {
    .div{
        text-align: justify;
        text-align: center;
    }
    .p{
        text-decoration: aqua;
    }

    h1 {
        color: blue;
    }
    h2 {
        color: teal;
    }
}
